/node_modules
/public/hot
/public/storage
/storage/app/public
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/assets/images/user
/public/assets/images/sub-category
/public/assets/images/listing
/public/assets/images/figure
/public/assets/images/category
/public/assets/images/bs
/public/assets/images/banner
/public/.htaccess
/public/.htaccess2
.DS_Store