/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/ADMIN
/classima
souq.zip

/public/user
/public/sub-category
/public/listing
/public/figure
/public/category
/public/bs
/public/banner