.header-action-layout1 ul .header-login-icon a {
    /*font-size: 1rem;*/
    text-align: right;
    font-size: 13px;
    font-weight: 100;
}

.file-drop-zone-title { font-size: 15px !important; padding: 15px 10px !important; }
.file-drop-zone { border: 2px dashed #ddd !important; border-radius: 0 !important; margin: 0 !important; }
.file-preview { border-radius: 0 !important; border: none !important; padding: 0 !important; margin-bottom: 15px !important; }
.krajee-default.file-preview-frame { border: none !important; box-shadow: 0 0 3px 0 rgba(0,0,0,0.2) !important; float: right; }
@media (max-width: 767px){
	.file-preview-thumbnails { display: block !important; }
}
.krajee-default.file-preview-frame:not(.file-preview-error):hover {
    border: none; box-shadow: 0 0 5px 0 rgba(0,0,0,0.3) !important;
}
.kv-zoom-actions { display: none !important; }
.btn-file, .btn-file:hover, .btn-file:focus { cursor: copy !important; box-shadow: none !important; }
.file-drag-handle {display: none !important;}
.kv-file-remove, .kv-file-zoom { background-color: #01b8ff !important; color: white !important; border: none !important; line-height: 20px !important; font-size: 11px !important; padding: 2px 7px 0px !important; }

.toast {font-weight: bold;}
.toast-message {direction: rtl; text-align: right;}
#toast-container>.toast:before {top: 17px !important;}


.select2-container .select2-selection--multiple,
.select2-container--default .select2-selection--single {
	line-height: 11px;
	border: 0.0625rem solid #ced4da !important;
    border-radius: 2px !important;
}
.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default.select2-container--focus .select2-selection--single,
.select2-container--default.select2-container--open .select2-selection--multiple,
.select2-container--default.select2-container--open .select2-selection--single {
    border-color: #ff5851;
    outline: none;
}
.select2-container--default .select2-search__field {
	height: 35px;
	padding: 0 15px;
    outline: none;
    direction: rtl;
}
.select2-container,
.select2-container--default .select2-search--inline .select2-search__field {
	width: 100% !important;
}
.select2-container--default .select2-selection__rendered {
	direction: rtl !important;
	/*height: 45px;*/
}
.select2-results {
	direction: rtl
}
.select2-results__option {
	list-style: none;
	padding-left: 15px;
}
.select2-container--default .select2-selection__rendered li {
	line-height: 37px;
	padding-left: 12px;
}
.wt-select2-multiple::after {
	line-height: 60px;
}
.wt-select2::after {
	line-height: 50px;
}
.select2-selection__arrow {
	display: none;
}
.select2-container .select2-selection--single {
	height: 42px !important;
	padding: 5px 0px;
}
.select2-container--default .select2-selection--single .select2-selection__clear {
	opacity: .5;
    margin: 0 10px;
    font-size: 18px;
    float: left !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 50px;
	padding: 0 20px;
}
.product-box-layout3 .item-img a {
    width: 11rem;
}



.mobile-nav-icon {
    position: fixed;
    top: 0;
    padding: 1.3rem;
    z-index: 21;
    font-size: 19px;
}
.mean-bar .dropdown-menu {
	transform: translate3d(0px, 42px, 0px) !important;
    padding: 0 !important;
}
.unread {
	font-size: 11px;
    border-radius: 50%;
    background: #f85c70;
    color: white;
    top: -15px;
    right: 13px;
    padding: 2px 4px;
    font-weight: bold;
    position: relative;
    outline: 3px solid white;
}

#product-view ul a,
.product-info ul a {
    color: #999999;
}

.add-listing-btn {
    left: 50px;
}
.add-listing-btn a {
    background: #f85c70;
    color: white;
    font-size: 16px;
    padding: 12px 19px;
    border-radius: 26px;
}
.mobile-nav-icon.toggle-conversations,
.toggle-guestnav {
    left: 210px; 
    color: #f85c70 !important;
    line-height: 34px;
}
@media (max-width: 399px){
    .add-listing-btn {left: 38px;}
    .add-listing-btn a { font-size: 14px; padding: 12px 10px; border-radius: 14px; font-weight: bold; }
    .mobile-nav-icon.toggle-conversations, .toggle-guestnav { left: 163px; }
}
@media (max-width: 319px){
    .logo-mobile { display: none; }
}

.country-box a img {transition: opacity .5s;}
.country-box a:hover img {opacity: 1 !important;}

@media (max-width: 500px){
    .tab-pane .product-box-layout3 {display: block}
    .tab-pane .product-box-layout3 .item-img {margin: 0;}
    .tab-pane .product-box-layout3 .item-img a {width: 100%; margin-bottom: 15px;}
}

.home-listing .item-content .item-price { margin-bottom: 5px; font-size: 18px; }
@media (max-width: 575px){
    .home-listing {
        display: flex;
    }
    .home-listing .item-img {
        width: 30%;
    }
    .home-listing .item-img a {
        display: inline-block;
        height: 100%
    }
    /*.home-listing .item-img,*/
    .home-listing .item-content {
        padding: 10px 10px 0;
        width: 70%;
    }
    .home-listing .item-content .item-price { font-size: 17px; }
    .home-listing .item-content h3 {
        white-space: nowrap;
    }
    .item-trending.home-listing .item-content,
    .item-fixed.home-listing .item-content {
        padding: 10px 10px 0 30px;
    }
    .item-trending.home-listing:after,
    .item-fixed.home-listing:after {
        width: 2.5rem;
        height: 2.5rem;
        padding: 0.3rem 1.5rem 0 0;
    }
}

.product-box-layout1 .item-img img { width: 100%; height: 100%}

@media (min-width: 576px){
    .product-box-layout1 .item-img img { height: 135px }
}
@media (min-width: 768px){
    .product-box-layout1 .item-img img { height: 120px }
}
@media (min-width: 1200px){
    .product-box-layout1 .item-img img { height: 150px }
}

.product-box-layout1 {
    margin: 4px;
    height: 100%;
}

.main-btn {
    color: #ffffff;
    padding: 5px 10px;
    font-size: 1rem;
    display: inline-block;
    font-weight: 500;
    background: #f85c70;
    border-radius: 0.125rem;
    border: none;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
    text-align: center;
}

.main-btn:hover,
.main-btn:focus {
    color: #ffffff !important;
    background-color: #e43d40;
}

.bg-primary {
    background: #f85c70 !important;
}

a.bg-primary:focus, a.bg-primary:hover, button.bg-primary:focus, button.bg-primary:hover {
    background-color: #f74a61 !important;
}

.bg-gray {
    background-color: #f4f6f5;
}
.form-group select {
    height: 3.75rem;
}

@media (max-width: 1199px){
    #cartDropdownMenuButton img {width: 28px;}
}
#wh-widget-send-button.wh-widget-right {
    bottom: -17px !important;
}
.scrollup {display: none;}